{% extends 'base.html' %}

{% block title %}NHSF (UK) Dharmic Games{% endblock %}

{% block content %}
    <style>

        .schedule-warp {
            padding-right: 20px;
            padding-left: 20px;
            padding: 20px 30px;
            border: solid 1px #ddd;
            background-color: #f5f5f5;
            -webkit-transition: all 0.7s cubic-bezier(0.11, 0.6, 0.24, 0.89);
            transition: all 0.7s cubic-bezier(0.11, 0.6, 0.24, 0.89);
        }

        .schedule {
            background-color: #fff;
        }

        .schedule-warp:hover {
            box-shadow: 0 6px 20px rgba(0, 0, 0, .07);
            border: solid 1px rgba(100, 40, 145, .97);
        }

        .schedule {
            padding: 100px 0px;
            background-color: #ecedf0;
            font-family: 'Titillium Web';
        }

        .schedule-tag {
            color: #fff;
            background-color: #6164b2;
            padding: 3px 8px;
            margin-right: 15px;
            width: 90px;
            font-family: 'Titillium Web';
            text-align: center;
        }

        .schedule-header span {
            display: inline-block;
            margin-right: 25px;
        }

        .schedule-header {
            margin-bottom: 80px;
        }

        .schedule-card {
            position: relative;
            margin-bottom: 0.7em;
        }

        .schedule-card:hover .insidebox {
            transform: scale(1.033);
            /* box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1); */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .schedule-card:hover:after {
            background: #8a56d1;
            width: 25px;
        }

        .schedule-card:after {
            height: 2px;
            width: 22px;
            background: #ddd;
            content: '';
            position: absolute;
            top: 50%;
            left: -22px;
            transition: all 0.3s ease-in;
        }

        .insidebox {
            box-shadow: 0 0px 5px rgba(0, 0, 0, .07);
            background: #ffffff;
            width: 100%;
            height: auto;
            display: flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -webkit-flex;
            display: -o-flex;
            -webkit-align-items: center;
            align-items: center;
            padding: 10px 20px;
            color: #6164B2;
            transition: all 0.2s ease-in;
            /*    justify-content: center;*/
        }

        .day-one {
            margin-bottom: 50px;
            font-weight: bold;
            font-size: 20px;
            color: #6164B2;
        }

    </style>


    <h1>NHSF (UK) Dharmic Games</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="schedule-warp">
                    <div class="day-one">Timetable</div>
                    <div class="schedule-card">
                        <div class="insidebox">
                            <span class="schedule-tag">8:30 AM</span>
                            <span class="schedule-start">Registration</span>
                        </div>
                    </div>

                    <div class="schedule-card">
                        <div class="insidebox">
                            <span class="schedule-tag">9:00 AM</span>
                            <span class="schedule-start">Opening Ceremony</span>
                        </div>
                    </div>

                    <div class="schedule-card">
                        <div class="insidebox">
                            <span class="schedule-tag">9:15 AM</span>
                            <span class="schedule-start">Morning Sports Begin</span>
                        </div>
                    </div>

                    <div class="schedule-card">
                        <div class="insidebox">
                            <span class="schedule-tag">1:00 PM</span>
                            <span class="schedule-start"> Afternoon Sports Begin</span>
                        </div>
                    </div>

                    <div class="schedule-card">
                        <div class="insidebox">
                            <span class="schedule-tag">4:00 PM</span>
                            <span class="schedule-start">Closing Ceremony</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
