{% extends 'base.html' %}

{% block title %}Netball Score{% endblock %}

{% block content %}


    <h2>Netball Scoring</h2>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success" role="alert">
            Successfully submitted score!
        </div>
    {% endif %}

    <!--Create a form to log scores-->
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form class="form-floating mb-3" action="/scorenetball/"
                      method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label_tag }} {{ field }}</p>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <p></p>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}