{% extends 'base.html' %}

{% block title %}Netball Score{% endblock %}

{% block content %}


    <h2>Netball Scoring</h2>

    <!--Show success message if success is true-->
{% if success %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
{% endif %}

    <!--Create a form to log scores-->
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form class="form-floating mb-3" action="/scorenetball/"
                      method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label_tag }} {{ field }}</p>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <p></p>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}